
@section Anchors{ 
<nav id="localNav" class="nav nav-pills justify-content-center">
    <a class="nav-item nav-link" href="#location">Location</a>
    <a class="nav-item nav-link" href="#leadership">Leadership</a>
    <a class="nav-item nav-link" href="#beliefs">Beliefs</a>
    <a class="nav-item nav-link" href="#history">History</a>
</nav>
}

@section Masthead{
<section class="masthead smaller" style="background-image: url('../../Resources/Img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="container text text-white text-center">
                <h3>About us</h3>
                <p class="lead">Here at Hill City, our message and mission is simply, to help connect people to the life giving message of Jesus.</p>
            </div>
        </div>
    </div>
</section>
}

<!--Vision-->
<section id="vision" class="container mt-5">
    <div class="row">
        <div class="col-lg-4 d-flex align-items-center text-center">
            <div class="container ">
                <h4 class="mt-2">Our Vision</h4>
                <p class="lead">Here at Hill City, our message and mission is simply, to help connect people to the life giving message of Jesus.</p>
                <p class="lead">Here at Hill City, our message and mission is simply, to help connect people to the life giving message of Jesus.</p>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center text-center">
            <div class="container ">
                <h4 class="mt-2">Our Mission</h4>
                <p class="lead">Here at Hill City, our message and mission is simply, to help connect people to the life giving message of Jesus.</p>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center text-center">
            <div class="container ">
                <h4 class="mt-2">Core Values</h4>
                <p class="lead">1. Jesus first!</p>
                <p class="lead">2.We start small and think big!</p>
                <p class="lead">3. Glorify God through our lives!</p>
            </div>
        </div>
    </div>
</section>

<!--Location-->
<section id="location" class="mt-5">
    <!---->
    <div class="masthead small" style="background-image: url('../../Resources/Img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="container location-text text-white text-center">
                    <h3>Our Location</h3>
                    <p class="h7 mt-3">4 Polyova Street, Holovyne</p>
                    <p class="h7">Zhytomyr Oblast, Chernyachivskiy Rayon</>
                    <p class="h7">Ukraine, 12345</p>
                    <div class="row d-flex align-items-center justify-content-center mt-5">
                        <button class="h4 btn btn-primary">Get Directions</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Leadership -->
<section id="leadership" class="container mt-5">
    <header class="row d-flex text-center justify-content-center">
        <div class="container">
            <h4 class="mb-4">Our Leadership</h4>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></div>
            </blockquote>
        </div>
    </header>


    <div class="row mt-5">
        <div class="col-lg-4 image-block">
            <img class="card-img-top" src="../../Resources/Img/snowchurch.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <p class="lead font-weight-bold">SENIOR PASTORS - KEN & TESSIE GURLEY</p>
            <p>
                Ken Gurley has served as Senior Pastor of First Church since 1988. He and his wife reside in the Clear Lake area and have six children - one son, two daughters and their spouses - and four grandchildren. Pastor Ken Gurley is the author of numerous books including The Point of Low Points, Four Tables, Notable Women of Scripture,
                Preaching for a New Millennium series and his newest small group curriculum, MORE.
            </p>
            <p class="mt-3"><i class="fas fa-envelope mr-3"></i>info@example.com</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4 image-block">
            <img class="card-img-top" src="../../Resources/Img/snowchurch.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <p class="lead font-weight-bold">SENIOR PASTORS - KEN & TESSIE GURLEY</p>
            <p>
                Ken Gurley has served as Senior Pastor of First Church since 1988. He and his wife reside in the Clear Lake area and have six children - one son, two daughters and their spouses - and four grandchildren. Pastor Ken Gurley is the author of numerous books including The Point of Low Points, Four Tables, Notable Women of Scripture,
                Preaching for a New Millennium series and his newest small group curriculum, MORE.
            </p>
            <p class="mt-3"><i class="fas fa-envelope mr-3"></i>info@example.com</p>
        </div>
    </div>
</section>

<!--Our Beliefs-->
<section id="beliefs" class="mt-5">
    <header class="masthead small" style="background-image: url('../../Resources/Img/famday.JPG')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="container text text-white text-center">
                    <h3>Our Beliefs</h3>
                    <p class="lead">Our beliefs are the foundation of our ministry.</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row d-flex align-items-center justify-content-center">
            <ul>
                <li>We believe the Bible is the inspired and only infallible and authoritative written Word of God.</li>
                <li>We believe there is one God, eternally existent in three persons: God the Father, God the Son, and God the Holy Spirit.</li>
                <li>We believe in the deity of our Lord Jesus Christ, in His virgin birth, in His sinless life, in His miracles, in His vicarious and atoning death, in His bodily resurrection, in His ascension to the right hand of the Father, and in His personal future return to this earth in power and glory to rule a thousand years.</li>
                <li>We believe in the blessed hope – the rapture of the Church at Christ’s coming.</li>
                <li>We believe the only means of being cleansed from sin is through repentance and faith in the precious blood of Christ.</li>
                <li>We believe regeneration by the Holy Spirit is absolutely essential for personal salvation.</li>
                <li>We believe in water baptism by immersion.</li>
                <li>We believe the redemptive work of Christ on the cross provides healing of the human body in answer to believing prayer.</li>
                <li>We believe the baptism in the Holy Spirit, according to Acts 2:4, is given to believers who ask for it.</li>
                <li>We believe in the sanctifying power of the Holy Spirit by whose indwelling the Christian is enabled to live a holy life.</li>
                <li>We believe in the resurrection of both the saved and the lost, the one to everlasting life and the other to everlasting damnation.</li>
            </ul>
        </div>
    </div>
</section>

<!--History-->
<section id="history" class="mt-5">
    <header class="masthead small" style="background-image: url('../../Resources/Img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="container text text-white text-center">
                    <h3>Our Story</h3>
                    <p class="lead">Our history has molded us into who we are today.</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col-lg-4 image-block">
                <img class="card-img-top" src="../../Resources/Img/church.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <p class="lead font-weight-bold">Early Years</p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
            </div>
        </div>

        <hr>

        <div class="row mt-3 mb-3">
            <div class="col-lg-4 image-block">
                <img class="card-img-top" src="../../Resources/Img/church.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <p class="lead font-weight-bold">Early Years</p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
            </div>
        </div>

        <hr>

        <div class="row mt-3 mb-3">
            <div class="col-lg-4 image-block">
                <img class="card-img-top" src="../../Resources/Img/church.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <p class="lead font-weight-bold">Early Years</p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
                <p>
                    Glad Tidings Church has been a fixture in Omaha for more than 75 years. Located atop the hill at 75th and Hickory, Glad Tidings Church is centrally located in the
                    Aksarben area, attracting people from all parts of Omaha. More than the convenient location, people are drawn to Glad Tidings because it’s a place where people from any ethnic or
                    economic background can experience the life changing power of God’s good news.
                </p>
            </div>
        </div>
    </div>
</section>

