
@{
    ViewBag.Title = "Ministries";
}

@section Masthead{
    <section class="masthead smaller" style="background-image: url('../../Resources/Img/moldmeet.JPG')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="container text text-white text-center">
                <h3>Ministries & Projects</h3>
                <p class="lead">Here at Hill City, our message and mission is simply, to help connect people to the life giving message of Jesus.</p>
            </div>
        </div>
    </div>
</section>
}


<section class="container">
    <div class="row">
        <!--Column1-->
        <div class="col-lg-4">
            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>
        </div>

        <!--Column2-->
        <div class="col-lg-4">

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/church.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Warriors for the Good</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/contact-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Seed Project</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/moldmeet.JPG" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Kids & Youth</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>
        </div>
        <!--Column3-->
        <div class="col-lg-4">
            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/snowchurch.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Water Pluming</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/home-bg.jpg" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Camps</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>

            <div class="card mt-3">
                <img class="card-img-top" src="../../Resources/Img/famday.JPG" alt="ministry" />
                <div class="card-body">
                    <h5 class="card-title">Family Festivals</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                </div>
                <div class="card-body links">
                    <a href="#" class="h8 card-link">Learn More</a>
                    <a href="#" class="h8 card-link">See Testimonies</a>
                </div>
            </div>
        </div>
    </div>
</section>
