@using Microsoft.AspNet.Identity
@{
    
}

<div class="jumbotron jumbotron-fluid mt-nav">
    <div class="container p-4">
        <p class="display-5 h4">Welcome @User.Identity.GetUserName()</p>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>